:root{
--bg-notifiche:      #8EDAFC;
--icons:             #B1B1B1;
--bg-green:          #D5F9BA;
--bg-dark-green:     #009688;
--bg-active:         #E9EBEB;
--bg-cornice:        #EAEAEA;
--bg-back:           #c7c7c7a2;
--nots-color:        #639DB8;
}
body{
    background-image: linear-gradient(to bottom, 
    var(--bg-dark-green) 0px, 
    var(--bg-dark-green) 160px, 
    var(--bg-back) 160px, 
    var(--bg-back) 100%);
}
img{width: 40px; border-radius: 50%;}
input:active{border: none;}
#left-cols {background-color:var(--bg-cornice); padding: 0; height: 90vh;}
#right-cols{background-color:var(--bg-cornice); padding: 0; height: 90vh; border-left: 1px solid rgba(136, 136, 136, 0.178);}

.container{padding: 5vh 0;}
.user_icons{color: var(--icons);}
.nots{background-color: var(--bg-notifiche);}
.nots i{background-color: white;color: var(--bg-notifiche); border-radius: 50%;}
.nots_text p, .avatar_text p{margin: 0; font-size: 12px;}
.nots .under_gray{color: var(--nots-color);}
.search i{color: var(--icons);}
.avatars{background-color: white; overflow-y: scroll; height: calc(90vh - 172px);}
.under_gray{color: var(--icons);}
.avatars .col-10{position: relative;}
.avatars .time{
    position: absolute; 
    top: 0; right: 10px; 
    font-size: 10px;
    color: var(--icons);
}
.chat_container{
    background-image: url(../img/mine.jpg);
    height: calc(90vh - 112px);
    overflow-y: scroll;
}
.active{background-color: var(--bg-active);}
.sent    {background-color: var(--bg-green);align-self: flex-end;width: 35%;}
.recieved{background-color: white;align-self: start;width: 35%;}
.box{padding: 10px; margin: 5px; border-radius: 10px; position: relative;}
.chat_msg{font-size: 14px; width: 90%;}
.chat_time{font-size: 9px; color: var(--icons);}
.pointer{cursor: pointer;}
.chat_icons{position: absolute; top: 0px; right: 10px; color: var(--icons);}
.dropdown_menu{
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.329);
    width: 170px;
    padding: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.dropdown_menu p{margin: 0;padding: 5px;}
.dropdown_menu p:hover{background-color: var(--bg-active); color: black;}

#chat_input{height: 56px;}
#chat_input h5{color: var(--icons);}
@media screen and (max-width: 1200px){
    .avatars{background-color: white; overflow-y: scroll; height: calc(90vh - 190px);}
}